<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IEM"
        tools:targetApi="31">
        <activity
            android:name=".Deep_Event.Resource_Info"
            android:exported="false" />
        <activity
            android:name=".Deep_Event.Delete_Account"
            android:exported="false" />
        <activity
            android:name=".Deep_Event.Info_Project"
            android:exported="false" />
        <activity
            android:name=".Deep_Event.Info_Employee"
            android:exported="false" />
        <activity
            android:name=".Deep_Event.Create_Pass_For_Account"
            android:exported="false" />
        <activity
            android:name=".Deep_Event.Change_Security_Emp"
            android:exported="false" />
        <activity
            android:name=".Deep_Event.Change_Security_Admin"
            android:exported="false" />
        <activity
            android:name=".Deep_Event.Create_Employee_Account"
            android:exported="false" />
        <activity
            android:name=".Deep_Event.Salary_Edit"
            android:exported="false" />
        <activity
            android:name=".Deep_Event.Add_Alert"
            android:exported="false" />
        <activity
            android:name=".ImageButton_Home_Admin.Finance_ImageButton"
            android:exported="false" />
        <activity
            android:name=".ImageButton_Home_Admin.Resource_ImageButton"
            android:exported="false" />
        <activity
            android:name=".ImageButton_Home_Admin.Project_ImageButton"
            android:exported="false" />
        <activity
            android:name=".ImageButton_Home_Admin.Employee_ImageButton"
            android:exported="false" />
        <activity
            android:name=".ImageButton_Home_Admin.Depart_ImageButton"
            android:exported="false" />
        <activity
            android:name=".mainScreen_emp_UI"
            android:exported="false" />
        <activity
            android:name=".mainScreen_admin_UI"
            android:exported="false" />
        <activity
            android:name=".changePass_fromForgot_UI"
            android:exported="false" />
        <activity
            android:name=".forgotPass_UI"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>